html{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
header{
    background-color: black;
    height: 20px;
    padding: 1%;
}

.logo{
    color: white;
    float: left;
    margin: auto;
}

nav{
    background-color: black;
    float: right;
    margin: auto;
}

header nav a{
    color: orange;
}

main{
    width: 70%;
    height: 700px;
    float: right;
}

.image{
    float: left; 
   padding: 2%;
}
aside{
    float: left;
    height: 100%;
}
aside nav {
    
    background-color: gray;
    width: 200px;
    height: 100%;
}

aside nav div{
    text-align: center;
    margin: 10px;
}

p{
    block-size: 100xp;
}